.leftMenu{
    width: 240px;
    height: 100%;
    min-height: 100vh;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(10px);
    padding: 25px 30px;
    overflow: hidden;
    transition: all 0.3s ease;
}

/*inline flex and inline block to make both element components in ONE line*/
.leftMenu .logoMelloAmpContainer {
    color: #F7A233;
    font-size:30px;
    display: inline-block;
}

.leftMenu .logoContainer{
    color: #f1f1f1;
    display:inline-flex;
}

